<!DOCTYPE html>
<html>
<head th:fragment="head">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>EC3</title>
<link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery/jquery3.6.js}"></script>
</head>
<body>
	<nav th:fragment="menu"
		class="navbar navbar-expand-lg navbar-dark bg-dark ">
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link">Bienvenido</a></li>
					<li class="nav-item"><a class="nav-link active" href="#">Registro
							General</a></li>
					<li class="nav-item"><a class="nav-link active"
						th:href="@{/Vehiculo/frmMantVehiculo}"><ins>Vehiculos </ins></a></li>
					<li class="nav-item"><a class="nav-link active"
						th:href="@{/TipoVehiculo/frmMantTipoVehiculo}"><ins>Tipo de Vehiculos </ins></a></li>
					<li class="nav-item"><a class="nav-link active"
						th:href="@{/TipoLicencia/frmMantTipoLicencia}"><ins>Tipo de Licencias </ins></a></li>
					<li class="nav-item"><a class="nav-link active"
						th:href="@{/Conductor/frmMantConductor}"><ins>Conductores </ins></a></li>
					
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{login}">Cerrar Sesión</a></li>
				</ul>
			</div>
		</div>
	</nav>

</body>
</html>